{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block styles %}
    <style>
        .submit_form {
        text-align: center;
        padding: 3%;
        background: pink;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),
                    0 6px 20px 0 rgba(0,0,0,0.36);
        }
    </style>
{% endblock %}

{% block content %}
<div class="col-md-12" >
    <div  class="submit_form">
    <form  method="POST">
      {% csrf_token %}
      {{forms}}
      <center>
      <input type="submit" class="btn btn-default" value="submit" />
    </center>
    </form>
  </div>
</div>
{% endblock %}