{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block styles %}
    <style>
        .submit_form {
        text-align: center;
        padding: 3%;
        background: pink;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),
                    0 6px 20px 0 rgba(0,0,0,0.36);
        }
        .submit_form input[type="submit"] {
            background-color: #007bff; /* Bootstrap primary button color (blue) */
            color: white;             /* Text color */
            border: none;             /* Remove border */
            padding: 10px 20px;       /* Add some padding */
            border-radius: 5px;       /* Rounded corners */
            cursor: pointer;          /* Pointer cursor on hover */
        }
        .submit_form input[type="submit"]:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }
    </style>
{% endblock %}

{% block content %}
<div class="col-md-12" >
    <div  class="submit_form">
    <form  method="POST">
      {% csrf_token %}
      {{forms}}
      <center>
      <input type="submit" class="btn btn-default" value="submit" />
    </center>
    </form>
  </div>
</div>
{% endblock %}